<section id="cadastrar-bem" class="d-flex flex-column">
  <h2 class="text-center mt-5">Cadastrar novo bem</h2>

  <div id="form-cadastrar" class="container p-3 mt-5 d-flex flex-column">
    <form [formGroup]="formBem" class="align-self-center">
      <div class="form-group row">
        <div class="col-2">
          <label for="codigo" class="form-label">Código:</label>
          <input type="text" id="codigo" class="form-control" formControlName="codigo">
        </div>
        <div class="col">
          <label for="descricao" class="form-label">Descrição:</label>
          <input type="text" id="descricao" class="form-control" formControlName="descricao">
        </div>
      </div>
      <div class="form-group">
        <label for="local" class="form-label">Local:</label>
        <select name="local" id="local" class="form-select" formControlName="local">
          <option value="" select disabled>Selecione o local do bem</option>
          <option [ngValue]="local" *ngFor="let local of locais"> {{local.descricao}} </option>
        </select>
      </div>

      <p class="mt-3 text-center fw-bold">Situação:</p>
      <div class="form-group d-flex justify-content-evenly">
        <div>
          <input type="radio" id="operando" name="estadoBem" formControlName="estadoBem" value="OPERANDO">
          <label for="operando" class="form-label">Operando</label>
        </div>
        <div>
          <input type="radio" id="manutencao" name="estadoBem" formControlName="estadoBem" value="MANUTENCAO">
          <label for="manutencao" class="form-label">Manutenção</label>
        </div>
        <div>
          <input type="radio" id="inativo" name="estadoBem" value="INATIVO" formControlName="estadoBem">
          <label for="inativo" class="form-label">Inativo</label>
        </div>
      </div>
      <hr>

      <div class="form-group row align-items-end mt-2 w-100">
        <div class="col-2 d-flex align-items-start gap-3">
          <label for="alugado" class="form-label">Alugado:</label>
          <input type="checkbox" formControlName="alugado" id="alugado" name="alugado" #alugado class="form-check">
        </div>
        <div class="col-4">
          <label for="valorAluguel" class="form-label">Valor do aluguel:</label>
          <input type="number" name="valorAluguel" id="valorAluguel" class="form-control" formControlName="valorAluguel"
            [readonly]="!alugado.checked">
        </div>
      </div>

      <hr>
      <div class="form-group row w-100">
        <div class="col">
          <label for="valorInicial" class="form-label">Valor inicial: </label>
          <input type="number" name="valorInicial" id="valorInicial" class="form-control" formControlName="valorInicial"
            [readonly]="alugado.checked">
        </div>
        <div class="col">
          <label for="valorAtual" class="form-label">Valor atual: </label>
          <input type="number" name="valorAtual" id="valorAtual" class="form-control" formControlName="valorAtual"
            [readonly]="alugado.checked">
        </div>
      </div>

      <!-- ler código de barras -->

    </form>
  </div>
  <div class="action container d-flex justify-content-center mt-3">
    <button class="btn btn-success" (click)="validarForm()">Salvar</button>
  </div>
</section>
