
<h2 class="text-center mt-5">Listar Bens</h2>

<div class="container mt-5">
  <button class="btn btn-secondary mb-3" routerLink="../../">Voltar</button>

  <mat-form-field class="form-group container align-self-center mt-5" appearance="outline">
    <mat-label>Pesquisar</mat-label>
    <input type="text" matInput (input)="filtrarBens($any($event.target).value)">
    <span class="material-symbols-outlined mx-3" matSuffix>search</span>
  </mat-form-field>
  <table mat-table [dataSource]="tableBem">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let bem"> {{bem.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let bem"> {{bem.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let bem"> {{bem.estadoBem}} </td>
    </ng-container>

    <ng-container matColumnDef="local">
      <th mat-header-cell *matHeaderCellDef> Local </th>
      <td mat-cell *matCellDef="let bem"> {{bem.local.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let bem"><span class="material-symbols-outlined text-primary">edit</span></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let bem"> <span class="material-symbols-outlined text-danger">delete</span> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <hr>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th class="bg-dark text-white">Código</th>
        <th class="bg-dark text-white">Nome</th>
        <th class="bg-dark text-white">Status</th>
        <th class="bg-dark text-white">Local</th>
        <th class="bg-dark text-white"></th>
        <th class="bg-dark text-white"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bem of bens">
        <td>{{bem.codigo}}</td>
        <td>{{bem.descricao}}</td>
        <td>{{bem.estadoBem}}</td>
        <td>{{bem.local.descricao}}</td>
        <td> <span class="material-symbols-outlined text-primary" style="cursor: pointer;" (click)="abrirEdicao(bem)">edit</span></td>
        <td> <span class="material-symbols-outlined text-danger" style="cursor: pointer;" (click)="confirmarRemocao(bem)">delete</span></td>
      </tr>
    </tbody>
  </table> -->
</div>
