<section id="home">

  <div id="cards-home" class="d-flex justify-content-evenly">
    <div class="shadow d-flex flex-column align-items-center card" id="card-item" routerLink="/bem/cadastrar-bem">
      <span class="material-symbols-outlined" style="font-size: 120px;">
        edit_note
        </span>

        <span>Cadastrar bem</span>
    </div>
    <div class="shadow d-flex flex-column align-items-center card" id="card-item" routerLink="/bem/consultar-bem">
      <span class="material-symbols-outlined" style="font-size: 120px;">
        manage_search
        </span>

        <span>Consultar bem</span>
    </div>
    <div class="shadow d-flex flex-column align-items-center card" id="card-item" routerLink="/local/cadastrar-local">
      <span class="material-symbols-outlined" style="font-size: 120px;">
        pin_drop
        </span>

        <span>Cadastrar local</span>
    </div>
  </div>
  <div id="cards-home" class="d-flex justify-content-evenly">
    <div class="shadow d-flex flex-column align-items-center card" id="card-item" routerLink="/manutencao/cadastrar-manutencao">
      <span class="material-symbols-outlined" style="font-size: 120px;">
        manufacturing
        </span>

        <span>Cadastrar manutenção</span>
    </div>
    <div class="shadow d-flex flex-column align-items-center card" id="card-item" routerLink="/inventario/cadastrar-inventario">
      <span class="material-symbols-outlined" style="font-size: 120px;">
        assignment_add
        </span>

        <span>Cadastrar inventário</span>
    </div>
    <div class="shadow d-flex flex-column align-items-center card" id="card-item" routerLink="/inventario/consultar-inventario">
      <span class="material-symbols-outlined" style="font-size: 120px;">
        assignment
        </span>

        <span>Consultar inventário</span>
    </div>
  </div>

</section>
